.top-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width:768px) {
        div:nth-child(n+3) {
            display: none;
        }
    }

    @media(max-width:426px) {
        div:nth-child(n) {
            display: none;
        }

        div:nth-child(1) {
            display: block;
        }
    }

}

.home-banner {
    background-size: cover;
    height: 34rem;
    padding-top: 410px;
    padding-bottom: 64px;
    @media(max-width:426px){
        background-size: auto 87vh;
        background-repeat: no-repeat;
    }

    &-text {
        max-width: 570px;
        position: absolute;
        top: 152px;
        left: 100px;
        display: flex;
        flex-direction: column;
        text-align: start;

        h1 {
            color: white;
            font-size: 45px;
        }

        span {
            margin-top: 50px;
            color: #FFFFFF;
            font-size: 20px;
        }
    }
}

.center-container {
    padding-top: 160px;

    .blog-container {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #f8f9fa;
        display: flex;
        gap: 20px;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }
}